@media screen and (min-width: 740px){
    
    header{
        background-color: #390364;
        display: flex;
    }

    #menu{
        display: none;
    }

    header h1{
        color: white;
        display: flex;
        align-items: center;
    }

    nav{
        display: flex;

    }

    nav a{
        color: white;
        text-decoration: none;
        padding: 24px;

    }

    nav a:hover{
        color: #390364;
        background-color: white;
    }

    main{
        padding: 36px;
    }

    .main-title{
        padding-top: 16px;
        text-align: -webkit-center;
        font-size: 24px;
        color: #390364;
    }

    .temples-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align-last: center;
        gap: 16px;
    }

    .temple-image img{
        width: 90%;
        border-radius: 26px;
    }

    figcaption{
        text-align: center;
    }

    footer{
        padding: 10px;
        background-color: #390364;
        color: white;
        text-align: center;
    }

    #lastModified{
        color: #FDFE4C;
        font-size: 12px;
    }
}
