
*{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #390364;
    color: white;
    text-align: center;
}

header h1{
    display: inline-flex;
    padding-right: 2rem;
}

#menu {
	display: inline-flex;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	color: #fff;
    align-self: center;
}

#menu::before {
	content: "≡";
}

#menu.show::before{
    content: "✖";
}

nav{
    display: none;
} 

nav.show{
    display: block;
}

nav.show a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px;
    font-size: 20px;
}

nav.show a:hover{
    background-color: grey;
    color: #390364;
}

.main-title{
    padding-top: 16px;
    text-align: -webkit-center;
    font-size: 24px;
    color: #390364;
    padding-bottom: 16px;
    margin: 16px;
}

.temples-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    text-align: center;
}

section{
    padding-bottom: 16px;
}

section h2{
    color: #390364;
}

section img{
    border-radius: 16px;
    width: 90%;
}

.label{
    font-weight: bolder;
}

footer{
    padding: 10px;
    background-color: #390364;
    color: white;
    text-align: center;
}

#lastModified{
    color: #FDFE4C;
    font-size: 12px;
}
