:root {
    --main-color: #CD4F00;
    --second-color: #005430;
  }

*{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

header{
    padding: 24px;
    background-color: var(--main-color);
    color: white;
    text-align: center;
}

picture img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

main{
    margin-top: 14px;
    text-align: center;
}

.data-container{
    padding: 20px;
}

.data-title{
    background-color: var(--second-color);
    color: #fff;
}

.weather-container{
    padding: 20px;
}

.weather-title{
    background-color: var(--second-color);
    color: #fff;
}

.weather-icon{
    width: 90px;
}

footer{
    padding: 10px;
    background-color: var(--second-color);
    color: white;
    text-align: center;
}

#lastModified{
    color: #FDFE4C;
    font-size: 12px;
}