*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #ECECEC;
}

main{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.sidebar{
    background-color: #fff;
    border-end-start-radius: 36px;
    border-end-end-radius: 36px;
}

nav{
    padding-top: 36px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 8px;
}


.choose{
    background-color: black;
    color: white;
    border-radius: 38px;
    width: 85%;
    margin-inline: auto;
}

.input-container input{
    width: 90%;
    border-radius: 38px;
    border: none;

}

[type=text]{
    padding: 1em 16px 1em 1em;
}

.input-container{
    display: flex;
    grid-column: 2;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.input-container a{
    display: flex;
    align-self: center;
}

.todo-itens{
    height: 100vh;
}

