*{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}
  
  .heading {
    color: #000;
    display: block;
    padding-top: 26px;
    padding-bottom: 5px;
  }
  
  #colorone{
      color:#000 ;
      font-weight: 700;
  }
  
  #colortwo{
      color: #D93239;
      font-weight: 700;
  }
  
  #colorthree{
      color: #7AC943;
      font-weight: 700;
  }
  
  #wireframe > p, a{
      background-color: #7AC943;
  }
